{% extends 'template.html' %}

{% block title %} About - S Khajuria {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10 rounded-4 container-fluid d-flex justify-content-center align-items-center">
        <h1 class="fontColor" style="font-family: Arvo-Bold; font-size: 8vw;">
            About
        </h1>
    </div>
</div>
<div class="container mb-4">
    <div class="fs-5 text-light" style="margin-bottom: 80px; height: 120px; font-family: Exo2-Regular;">
        <span class="fs-3 fontColor" style="font-family: Arvo-Bold;">
            Welcome to <name class="fs-2" style="font-family: AmericanCaptain; letter-spacing: 2px;">
            S Khajuria.
        </name></span>
        <br /><br /> Your trusted destination for cutting-edge cybersecurity solutions, free software
        development, and unwavering commitment to privacy.
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-3 rounded-2 me-2 text-light" style="font-family: Exo2-Regular; border: solid 2px rgb(255, 120, 10)">
            <h1 class="fs-2 fontColor text-center p-2" style="font-family: Arvo-Bold;">Our Mission</h1>
            <p class="fs-5">At S Khajuria, our mission is to fortify the digital world against threats while championing the
                principles of open collaboration, free software, and individual privacy. We believe that everyone
                deserves a secure and private online experience, and we are dedicated to making that vision a reality.
            </p>
        </div>
        <div class="col-sm-6 rounded-3 text-light me-2" style="font-family: Exo2-Regular; border: solid 2px rgb(255, 120, 10)">
            <h1 class="fs-2 p-2 fontColor text-center" style="font-family: Arvo-Bold">CyberSec Expertise</h1>
            <p class="fs-5">
                With years of experience in the field of cybersecurity, S Khajuria stands as a beacon of expertise
                in safeguarding digital landscapes. Our commitment to staying ahead of evolving threats drives us
                to develop robust security solutions that protect individuals and organizations alike.
            </p>
            <h1 class="fs-2 p-2 fontColor text-center" style="font-family: Arvo-Bold">The Ethos of Free Software</h1>
            <p class="fs-5">
                Our journey began with a fervent belief in the ethos of free software. We envision a world where
                technology empowers individuals, without compromising their privacy. S Khajuria is committed to
                the development and dissemination of open-source solutions, ensuring that users have control over their
                digital experiences.
            </p>
        </div>
        <div class="col rounded-2 text-light" style="font-family: Exo2-Regular; border: solid 2px rgb(255, 120, 10);">
            <h1 class="fs-2 fontColor text-center p-2" style="font-family: Arvo-Bold;">Privacy as a Priority</h1>
            <p class="fs-5">
                Privacy is not just a feature; it's a fundamental right. S Khajuria is a staunch advocate for user
                privacy. We design our solutions with privacy-centric principles, empowering users with control over
                their personal information. Our commitment to ethical data practices is evident in every aspect of
                our work.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="container-fluid text-light col-lg-4 rounded-3" style="border: solid 2px rgb(255, 120, 10);">
            <h1 class="fs-2  mt-3 mb-3 p-2 fontColor text-center" style="font-family: Arvo-Bold">Our Values</h1>
            <p class="fs-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-2 fs-4 bg-dark text-light">Security First</li>
                    <li class="list-group-item p-2 fs-4 bg-dark text-light">Free Software Advocacy</li>
                    <li class="list-group-item p-2 fs-4 bg-dark text-light">Privacy by Design</li>
                    <li class="list-group-item p-2 fs-4 bg-dark text-light">Continuous Learning</li>
                </ul>
            </p>
        </div>
        <div class="col rounded-3 ms-2 text-light" style="font-family: Exo2-Regular; border: solid 2px rgb(255, 120, 10);">
            <h1 class="fs-2 fontColor text-center p-2" style="font-family: Arvo-Bold;">Join the Secure and Open Community</h1>
            <p class="fs-5">
                We invite you to join the S Khajuria community—a gathering of cybersecurity enthusiasts,
                developers, and privacy advocates. Whether you're passionate about security, open-source software, or
                privacy advocacy, there's a place for you in our community. Explore our projects, engage in discussions,
                and contribute to the collective effort of making the digital world safer and more private.
            </p>
            <p class="fs-5">
                Together, let's build a safer technological landscape, more open, and private online world for everyone
                that respects privacy, fosters innovation, and empowers individuals across the globe.
            </p>
        </div>
    </div>
</div>
{% endblock %}