{% extends 'dashTemplate.html' %}

{% block title %} Home - S Khajuria {% endblock %}

{% block content %}

    {% if user.is_authenticated %}

    <div class="row">
        <div class="col-sm-3 vh-100" id="collapseNavBar" style="background-color: black;">
            <div class="container-fluid mt-2 ms-2 p-2 rounded-3 text-center">
                <ul class="navbar-nav" style="font-family: Exo2-Regular;">
                        <li class="nav-item itemColor p-2 mb-2 rounded-2" style="border: solid 2px rgb(255, 120, 10);">
                            <a class="nav-link fontColor"href="{{ url_for('view.addnew') }}">Add New</a>
                        </li>
                        <li class="nav-item itemColor p-2 mb-2 rounded-2" style="border: solid 2px rgb(255, 120, 10);">
                            <a class="nav-link fontColor" href="{{ url_for('view.manage') }}">Manage</a>
                        </li>
                        <li class="nav-item itemColor p-2 rounded-2" style="border: solid 2px rgb(255, 120, 10);">
                            <a class="nav-link fontColor" href="#">Future</a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="col vh-100 bg-dark text-light m-2 rounded-3 d-flex justify-content-center">
            <div class="col-xl-8 col-lg-6 col-sm-6 mt-4 ms-4 border-dark rounded-4">
                <div class="fontColor mt-4 mb-4 text-uppercase text-center fs-2" style="letter-spacing: 2px; font-family: AmericanCaptain;">
                    Export Contacts
                </div>
                <div>
                    <form method="post">
                        <div class="row mb-3 fontColor">
                            <div class="col">
                                <input type="text" class="form-control" name="fileName" placeholder="Name of the file" required>
                            </div>
                        </div>
                        <button type="submit" class="btn text-light" style="background-color: rgb(255, 128, 0);">Export Contacts</button>
                    </form>
                </div>
                <div class="fontColor mt-4 mb-4 text-uppercase text-center fs-2" style="letter-spacing: 2px; font-family: AmericanCaptain;">
                    Import Contacts
                </div>
                <div>
                    <form action="/import" method="post" enctype="multipart/form-data">
                        <div class="row mb-3 fontColor">
                            <div class="col">
                                <input type="file" class="form-control" name="upload_file">
                            </div>
                        </div>
                        <button type="submit" class="btn text-light" style="background-color: rgb(255, 128, 0);">Upload Contacts</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    {{ redirect(url_for('auth.login'))}}

    {% endif %}

{% endblock %}