{% extends 'template.html' %}

{% block title %} Home - S Khajuria {% endblock %}

{% block content %}
    <div class="container vh-50 mt-4 mb-4">
    <div class="row">
            <div class="col-sm-8 m-2 rounded-3 fw-bold" style="font-family: 'Arvo-Bold'; border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10);">
                <div class="row mb-4">
                    <div class="col text-center p-2">
                        <div id="pen" class="fs-bold text-light text-lowercase p-1" style="font-size: 8vw;">Pen</div>
                        <div id="tester" class="fs-bold text-light text-lowercase p-1" style="font-size: 3rem;">Tester</div>
                    </div>
                    <div class="col text-center p-2 text-wrap" style="margin-top: 25px;">
                        <div id="ap" class="fs-1 fs-bold text-light text-lowercase m-2">Application Security</div>
                        <div id="dso" class="fs-1 fs-bold text-light text-lowercase mt-2">DevSecOps</div>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center p-2 m-2 rounded-3 fw-bolder" style="font-family: 'Arvo-Bold'; border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10);">
                <div id="csp" class="fs-bold text-light p-2 text-center rounded-4 text-lowercase" style="font-size: 4rem;">
                    Cyber Security<br /> <span class="fs-1">Professional</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="web" class="col d-flex justify-content-center align-items-center p-3 m-2 rounded-3 fw-bolder" style="border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10); font-family: Arvo-Bold">
                <div class="fs-bold text-light text-lowercase p-2 text-center" style="font-size: 4rem;">
                    <span class="text-lowercase">web</span> <br /><span class="text-lowercase">developer</span><br />
                    <sub class="fontColor fs-6 fst-normal">(Majorly Python with PHP & Java)</sub>
                </div>
            </div>
            <div id="dev" class="col-sm-8 p-3 m-2 rounded-3 fw-bolder" style="font-family: 'Arvo-Bold'; border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10);">
                <div class="row mb-4">
                    <div class="col text-center p-2">
                        <div class="fs-bold text-light text-lowercase" style="font-size: 6vw;">python</div>
                        <div class="fs-1 fs-bold text-light text-lowercase p-1">based</div>
                    </div>
                    <div class="col text-center p-2">
                        <div class="fs-1 fs-bold text-light text-lowercase p-1">Application Development</div>
                        <div class="fs-1 fs-bold text-light text-lowercase p-1">Automation Scripting</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="tp" class="col d-flex justify-content-center align-items-center p-2 m-2 rounded-3 fw-bolder" style="font-family: 'Arvo-Bold'; border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10);">
                <div class="fs-bold text-light p-2 text-center rounded-4" style="font-size: 4rem;">
                    <span class="text-lowercase">team</span> <br /><span class="text-lowercase">player</span><br />
                </div>
            </div>
            <div id="tl" class="col-sm-4 d-flex justify-content-center align-items-center p-2 m-2 rounded-3 fw-bolder" style="font-family: 'Arvo-Bold'; border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10);">
                <div class="fs-bold text-light p-2 text-center rounded-4" style="font-size: 4rem;">
                    <span class="text-lowercase">team</span> <br /><span class="text-lowercase">leader</span><br />
                </div>
            </div>
            <div id="sp" class="col-sm-4 d-flex justify-content-center align-items-center p-2 m-2 rounded-3 fw-bolder" style="font-family: 'Arvo-Bold'; border-style: solid; border-width: 2px; border-color: rgb(255, 110, 10);">
                <div class="fs-bold text-light p-2 text-center rounded-4" style="font-size: 4rem;">
                    <span class="text-lowercase">solo</span> <br /><span class="text-lowercase">player</span><br />
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <p class="mt-4 mb-2 pt-2 pb-2 text-center text-light text-lowercase rounded-3" style="font-size: 3rem; font-family: Arvo-Bold; border-top-style: solid; border-top-width: 2px; border-color: rgb(255, 110, 10);">
                Applications Bundle
            </p>
            <div class="container">
                <div class="row mt-1 mb-1">
                     <div class="col-sm-3 p-2 text-center">
                        <div class="fw-bold fontColor p-2 rounded-3" style="background-color: rgb(0, 0, 0)">XDR & SIEM</div>
                        <div class="text-light p-2 rounded-bottom-3" style="border-bottom-style: solid; border-bottom-width: 2px; border-color: rgb(255, 110, 10);">
                            Open Source Wazuh(XDR & SIEM) implementation on personal network for testing and learning.
                            Comprehensive tool offers ton of features.
                        </div>
                    </div>
                    <div class="col-sm-3 p-2 text-center">
                        <div class="fw-bold fontColor p-2 rounded-3" style="background-color: rgb(0, 0, 0)">Contacts</div>
                        <div class="text-light p-2 rounded-bottom-3" style="border-bottom-style: solid; border-bottom-width: 2px; border-color: rgb(255, 110, 10);">
                            Personal app for personal people. Store Your Contacts here, secure from prying eyes. Helps to keep your contacts secret and secure.
                        </div>
                    </div>
                    <div class="col-sm-3 p-2 text-center">
                        <div class="fw-bold fontColor p-2 rounded-3" style="background-color: rgb(0, 0, 0)">Automation</div>
                        <div class="text-light p-2 rounded-bottom-3" style="border-bottom-style: solid; border-bottom-width: 2px; border-color: rgb(255, 110, 10);">
                            Python based scripts to automate the routine tasks and programs. Based on the problem presented custom scripts can also be created.
                        </div>
                    </div>
                    <div class="col-sm-3 p-2 text-center">
                        <div class="fw-bold fontColor p-2 rounded-3" style="background-color: rgb(0, 0, 0)">pyExpense</div>
                        <div class="text-light p-2 rounded-bottom-3" style="border-bottom-style: solid; border-bottom-width: 2px; border-color: rgb(255, 110, 10);">
                            Personal expense tracker app. The application is also a mini project. <br>Python-based Flask framework and SQlite was used.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}